<html>
    <head>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}

        <script>
            $(document).ready(function() {
                {% block onReady %}{% endblock %}
            });
        </script>
    </body>
</html>