{% extends '@App/layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="label.next" />
    {{ form_end(form) }}
{% endblock %}
