{% extends '@App/layout.html.twig' %}

{% set details_route   = constant('AppBundle\\Controller\\ApplicationController::PROVIDER_DETAILS_ROUTE') %}
{% set suggest_route   = constant('AppBundle\\Controller\\ApplicationController::SUGGEST_PROVIDER_ROUTE') %}
{% set ajax_route      = constant('AppBundle\\Controller\\ApplicationController::SUBMIT_RESULTS_ROUTE') %}
{% set provider_result = constant('AppBundle\\Entity\\Provider::NAME') %}

{% block content %}
    {{ form_start(form, {'attr': {'id': 'form'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="label.update" />
    {{ form_end(form) }}

    <a href="{{ path(suggest_route) }}">label.suggest</a>

    {% for result in results %}
        {% set provider = attribute(result, provider_result) %}

        {{ dump(provider) }}
        <a href="{{ path(details_route, {'id': provider.id}) }}">label.details</a>
    {% endfor %}
{% endblock %}

{% block onReady %}
    {%
        set provider_type = constant('AppBundle\\Form\\FormType\\ProviderSearchFormType::NAME') ~
                            '_' ~ constant('AppBundle\\Entity\\ProviderType::NAME')
    %}

    $(document).on('change', "#{{ provider_type }}", function () {
        var $form = $('#form');

        $.ajax({
            url : '{{ path(ajax_route) }}',
            type: $form.attr('method'),
            data : $form.serialize(),
            success: function(response) {
                $form.replaceWith(
                    $(response).filter('#form')
                );

                $('#form').find('ul:first').hide();
            }
        });
    });
{% endblock %}
