{% extends '@App/layout.html.twig' %}

{% block content %}
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            <div class='flash-{{ type }}'>{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form, {'attr': {'id': 'form'}}) }}
    {{ form_widget(form) }}
    <input type="submit" value="label.submit" />
    {{ form_end(form) }}
{% endblock %}

{% block onReady %}
    {%
        set provider_type = constant('AppBundle\\Form\\FormType\\SuggestProviderFormType::NAME') ~
                            '_' ~ constant('AppBundle\\Form\\FormType\\SuggestProviderFormType::PROVIDER_TYPE_FIELD')
    %}

    $(document).on('change', "#{{ provider_type }}", function () {
        var $form = $('#form');

        $.ajax({
            url : $form.attr('action'),
            type: $form.attr('method'),
            data : $form.serialize(),
            success: function(response) {
                $form.replaceWith(
                    $(response).filter('#form')
                );

                $('#form').find('ul:first').hide();
            }
        });
    });
{% endblock %}
